.me-links>li>.icon>.label{
	opacity: 0;
	transition: top .42s ease-in-out,opacity .3s ease;
	-moz-transition: top .42s ease-in-out, opacity .3s ease;
	-webkit-transition: top .42s ease-in-out, opacity .3s ease;
	font-size:100%;
	position:absolute;
	top:50%;
	margin:auto;
	left: 50%;
	font-weight:250;
	display:block;
	transform: translateX(-50%);
}
.me-links>li>.icon {
	text-decoration: none !important;
	/*padding: 0 .75em 0 .75em;*/
	display:block;
	width:60px;
}
.me-links>li>.icon:hover>.label{
	opacity:1.0;
	display:block;
	top:100%;
}
ul.me-links{
	cursor: default;
	list-style: none;
	padding-left: 0;	
}
ul.me-links>li{
	padding:0px;
	display: inline-block;
}
.skills>li>.label {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}
.skills>li{
	positon:relative;
}
.skills>li:hover>.icon:before{
	color:white;
	transition: color 1s ease-in-out;
	-moz-transition: color 1s ease-in-out;
	-webkit-transition: color 1s ease-in-out;
}
.skills>li:hover>.label{
	font-size: 100%;
}