.me-links>li>.icon>.label{
	opacity: 0;
	transition: opacity,top .42s ease-in-out;
	-moz-transition: opacity,top .42s ease-in-out;
	-webkit-transition: opacity,top .42s ease-in-out;
	font-size:100%;
	position:absolute;
	top:250%;
	left:0;
	right:0;
	margin:auto;
}
.me-links>li>.icon {
	text-decoration: none !important;
	/*padding: 0 .75em 0 .75em;*/
	display:block;
	width:60px;
}
.me-links>li>.icon:hover>.label{
	opacity:1.0;
	display:block;
	top:100%;
}
ul.me-links{
	cursor: default;
	list-style: none;
	padding-left: 0;	
}
ul.me-links>li{
	padding:0px;
	display: inline-block;
}