.me-links>li>.icon>.label{
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.me-links>li:hover>.icon>.label{
	opacity:1;
	display:block;
	position:absolute;
	top:100%;
}